body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-x: hidden;
}

.vl {
    margin-left: 35px;
    border-left-style: solid;
    border-left-width: 1px;
    border-color: dodgerblue;
    height: 100px;
}

.links {
    display: flex;
}

.important-text {
    color: dodgerblue;
}

.topnav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.home {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
}

.about {
    padding: 20px;
    margin: auto;
    margin-bottom: 50vh;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.about-text {
    max-width: 750px;
}

.about-title {
    font-family: 'Courier New';
    font-size: 40px;
}

.text {
    font-family: 'Courier New';
}

.intro-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 540px;
}

.intro {
    color: #202020;
    font-size: 40px;
    font-family: 'Courier New';
    margin: auto;
}

a {
    position: relative;
    text-decoration: none;
    color: dodgerblue;
    font-family: 'Courier New';
}

.info a:hover {
    color: dodgerblue;
}

.info a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: dodgerblue;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

.info a:hover::before {
    transform: scaleX(1);
}

.nav-link {
    margin-left: 10px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
}

ul.info li:before {
    content: '\2014';
    position: absolute;
    margin-left: -30px;
}

ul.links li {
    transition: 0.3s;
    transition-timing-function: ease-out;
}

ul.links li:hover {
    transform: translateY(-4px);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
   


